<main class="resultsMain">
    <% book.forEach(book => { %>
    <article class="bookRender">
        <img src="<%= book.imageurl %>" />

        <h4><%= book.title %></h4>

        <h5><%= book.authors_names %></h5>

        <p><%= book.description %></p>

        <form action="/books" method="POST" > 

            <input type="text" name="title" value="<%= book.title %>">
            <input type="text" name="authors_names" value="<%= book.authors_names %>">
            <input type="text" name="description" value="<%= book.description %>">
            <input type="text" name="isbn" value="<%= book.isbn %>">
            <input type="text" name="bookshelf" value="<%= book.bookshelf %>">
            <input type="text" name="imageurl" value="<%= book.imageurl %>">
            
            <button type="submit">Add to Collection</button>

        </form>
    </article>
    <% }) %>
</main>